@font-face {
    font-family: 'roboto thin';
    src: url('fonts/roboto-thin-webfont.eot');
    src: url('fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-thin-webfont.woff') format('woff'),
    url('fonts/roboto-thin-webfont.ttf') format('truetype'),
    url('fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto light';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-light-webfont.woff') format('woff'),
    url('fonts/roboto-light-webfont.ttf') format('truetype'),
    url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto regular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-regular-webfont.woff') format('woff'),
    url('fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

*:focus { outline: none }

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix { display: block }

* html .clearfix { height: 1px }

h1 {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#container {
    width: 1000px;
    margin: 0 auto;
    display: block;
    font-family: 'roboto regular', sans-serif;
    font-size: 16px;
    color: #333;
}

#apple, #facebook {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

#apple-file-uploader, #facebook-file-uploader {
    width: 450px;
    height: 300px;
    margin-top: 30px;
    overflow: auto;
}

#apple-file-uploader {
    float: left;
    background: #eee url("../media/apple-icon.png") no-repeat 50%;
    background-size: 110px 110px;
}

#facebook-file-uploader {
    float: right;
    background: #eee url("../media/facebook-icon.png") no-repeat 50%;
    background-size: 100px 100px;
}





























